---
import Layout from '@layouts/IndexLayout.astro';
---

<Layout>
  <main>
    <div class='content'>
      <h1 class="page_title">Privacy Policy</h1>
      <hr />
      <p>
        The policy applies to all information collected on CosyKoala’s website and our apps for iPhone and any other device and platforms. Your privacy is critically important to us. Therefore our website and apps do not collect any personally identifiable information or location data.
      </p>

      <h2>Your Consent</h2>

      <p>
        By using our website or apps, you consent to our privacy policy.
      </p>

      <h2>Contact Information</h2>

      <p>
        If you have any queries regarding this privacy policy, please email <a href="mailto:support@wraithindustries.io">support@wraithindustries.io</a>
      </p>

      <h2>Changes to This Policy</h2>

      <p>
        We reserve the right to modify this privacy policy at any time, so please review it frequently.

      </p>
      <ul>
        <li>2024-01-25: First Published</li>
      </ul>
    </div>
  </main>
</Layout>
