---
import Layout from '@layouts/IndexLayout.astro';
---

<Layout>
  <main>
    <h1 class="page_title">Support</h1>
    <hr />
    <p>
      Should you require any support or wish to give feedback on CosyKoala you can reach out to us at <a href="mailto:support@wraithindustries.io">support@wraithindustries.io</a>
    </p>
  </main>
</Layout>
